---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

($\*$ Equal contribution; $\dagger$ Corresponding author) 

- **Nan Xi**, Jingjing Meng, Yietian Chen, Chaosheng Dong, Yan Gao, Yi Sun, Junsong Yuan. “Generative Prompting for Complex Product Retrieval”, in Proceedings of the ACM on Web Conference (WWW), 2025

- Luyuan Xie, Tianyu Luan, Wenyuan Cai, Guochen Yan, Zhaoyu Chen, **Nan Xi**, Yuejian Fang, Qingni Shen, Zhonghai Wu, Junsong Yuan, “dFLMoE: Decentral-
ized Federated Learning via Mixture of Experts for Medical Data Analysis”, in Proceedings of Computer Vision and Pattern Recognition (CVPR), 2025

- Yisong Wang $^ \*$, **Nan Xi** $^ \*$ $^ \dagger$, Jingjing Meng, Junsong Yuan. “`Interaction-centric Spatio-Temporal Context Reasoning for Multi-person Video HOI Recognition”. in European Conference on Computer Vision (ECCV), 2024 

- **Nan Xi**, Jingjing Meng, Junsong Yuan. “Chain-of-Look Prompting for Verb-centric Surgical Triplet Recognition in Endoscopic Videos”, in Proc. ACM International Conf. on Multimedia (ACM MM), 2023

- **Nan Xi**, Jingjing Meng, Junsong Yuan. “Open Set Video HOI detection from Action- centric Chain-of-Look Prompting”. in Proceedings of the IEEE International Confer- ence on Computer Vision (ICCV), 2023

- Qinji Yu, **Nan Xi**, Junsong Yuan, Zhouzi Yu, Kang Dang, Xiaowei Ding. “Source-Free Domain Adaptation for Medical Image Segmentation via Prototype-Anchored Feature Alignment and Contrastive Learning”, in International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI), 2023

- **Nan Xi**, Jingjing Meng, Junsong Yuan. “Forest Graph Convolution Network for Sur- gical Action Triplets Recognition in Endoscopic Videos”, in IEEE Transactions on Circuits and Systems for Video Technology (TCSVT), 2022

- Hanyu Li *, Sabrina Racine Brzostek *, **Nan Xi** *, Jiwen Luo, Zhen Zhao, Junsong Yuan. “Learning to Detect Monoclonal Protein in Electrophore- sis Images”, in IEEE International Conference on Visual Communications and Image Processing (VCIP), 2021

- **Nan Xi**. “Semi-supervised Attentive Mutual-info Generative Adversarial Network for Brain Tumor Segmentation”, in Proceedings of the 34th International Conference on Image and Vision Computing New Zealand (IVCNZ), 2019


{% if site.author.googlescholar %}
<!--   <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div> -->
{% endif %}

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
<!--   {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %} -->
{% endif %}



