---
layout: archive
title: "Teaching & Mentoring"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<!-- <h1> Teaching Assistant <h1>
<ul type="disc">
  <li>CSE 573 (Fall 2021) Computer Vision and Image Processing 2021.8.-2021.12. </li>
  <li>CSE 191 (Spring 2022) Discrete Structures 2022.2.-2022.5. </li>
  <li>CSE 573 (Fall 2022) Computer Vision and Image Processing 2022.8.-2022.12.</li>

<h1> Mentoring <h1>
<ul type="disc">
  <li>Yisong Wang (B.S. Computer Science, Peking University --> 
<!--   With a publication “Interaction-centric Spatio-Temporal Context Reasoning for Multi-person Video HOI Recognition” on ECCV 2024 --> 
